* {
  padding: 0;
  margin: 0;
}

.pretrazi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.inputForma {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.detalji {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}
button {
  background-color: gray;
  border: 1px solid black;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  gap: 1rem;
}

img {
  width: 200px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
